

<h1>Let's play dice!</h1>

<% die1 = rand(1..6) %>

<% die2 = rand(1..6) %>
<p>Die 1 is: <%= die1 %> </p>
<p>Die 2 is: <%= die2 %> </p></p>
<p>
<img src="/images/dice/<%= die1 %>.svg" alt="">
<img src="/images/dice/<%= die2 %>.svg" alt="">
</p>

<% total = die1 +die2%>

<p>Total is: <%= die1 +die2 %></p>

<p> <a href="/dice"> Roll again! </p>
